@import "../../utils/colors";

.button-component {
    display: inline-flex;
    width: 100%;
    height: 36px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    text-decoration: none;
    cursor: pointer;

    &:active,
    &:hover,
    &:visited {
        text-decoration: none;
    }
}

.button-component--primary {
    background-color: $featured-color;
    color: white;
}

.button-component--secondary {
    box-sizing: border-box;
    background-color: white;
    color: $featured-color;
    border: 2px solid $featured-color;
}
