.product-list {
    text-align: center;
    padding: 0 10px;

    .cards-list {
        -webkit-overflow-scrolling: touch;
        padding-top: 2px;
        overflow-y: scroll;
        height: calc(100vh - 86px);
        margin-bottom: 10px;
    }
}
