@import '../../utils/colors.scss';
$mobile-breakpoint: 650px;

.product-detail{

    .detail-wrapper {
        display: inline-block;
        width: calc(100% - 4px);
        height: calc(100vh - 50px);
        background: #FFFFFF;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        text-align: left;
        margin-bottom: 10px;
        overflow-y: hidden;
        position: relative;
    }

    .detail-wrapper--opened {
        overflow-y: scroll;

        .description {
            height: auto;
            overflow: visible;
        }
    }

    .product-image {
        height: 172px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin-top: 15px;

        @media (min-width: $mobile-breakpoint) {
            margin-top: 40px;
            left: 30px;
            transform: translate(0);
            vertical-align: text-top;
        }
    }

    .payment-and-code {
        margin: 35px 10px 0 19px;
        position: relative;

        @media (min-width: $mobile-breakpoint) {
            width: 60%;
            width: calc(100% - 240px);
            padding-left: 9px;
            margin-top: 60px;
            display: inline-block;
            vertical-align: text-top;
        }
    }

    .payment {
        width: 50%;
        display: inline-block;
        vertical-align: text-top;
    }

    .product-old-price {
        position: absolute;
        margin-top: -18px;
        font-size: 14px;
        text-decoration-line: line-through;
        color: #999999;
    }

    .product-price {
        font-weight: 500;
        font-size: 24px;
        line-height: 20px;
        color: $featured-color;
    }

    .instalment{
        font-size: 17px;
        line-height: 20px;
        color: $side-color;
        margin: 4px 0 0 2px;
    }

    .code {
        width: 50%;
        display: inline-block;
        text-align: right;
        vertical-align: text-top;
        padding-right: 3%;
        box-sizing: border-box;

        @media (min-width: $mobile-breakpoint) {
            display: block;
            padding-right: 23px;
            box-sizing: border-box;
            text-align: left;
            margin-top: 20px;
        }
    }

    .product-brand {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }

    .product-code {
        margin-top: 2px;
        color: $side-color-lighter;
    }

    .button-wrapper {
        background: $featured-color;
        border-radius: 4px;
        width: 92%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin: 13px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: $mobile-breakpoint) {
            position: absolute;
            top: 77px;
            left: inherit;
            right: 41px;
            transform: translate(0);
            width: 250px;
            height: 150px;
        }
    }

    .product-description {
        margin: 0 20px;
        font-size: 16px;
        letter-spacing: 0.31px;

        @media (min-width: $mobile-breakpoint) {
            margin: 0 32px;
        }
    }

    .description {
        display: inline-block;
        overflow: hidden;
        font-size: 12px;
        line-height: 19px;
        color: $side-color-light;
        height: calc(100vh - 320px);
        margin-bottom: 55px;
    }

    .continue-read {
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        border-top: 1px solid #eeeeee;
        height: 42px;
        padding: 5px 10px;
        width: 94%;
        left: 50%;
        transform: translate(-50%);
        letter-spacing: -0.02em;
        color: #A43287;
        background: white url('/assets/images/arrow-down.svg') no-repeat;
        background-position: calc(100% - 5px) 12px;

        &:before {
            content: '';
            position: absolute;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 23%, rgba(255, 255, 255, 1) 70%);
            width: 100%;
            left: 0;
            top: -36px;
            height: 35px;
        }
    }
}
