@import "../../utils/colors";
$mobile-breakpoint: 650px;

.product-card {
    display: inline-block;
    width: calc(100% - 4px);
    height: 145px;
    background: white;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: left;
    margin-bottom: 10px;

    .left-column {
        display: inline-block;
        width: 120px;
        text-align: center;
        vertical-align: text-top;
        height: 100%;
    }

    .product-image {
        height: 108px;
        margin-top: 10px;
    }

    .product-code {
        margin-top: 8px;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        color: $side-color-lighter;
    }

    .right-column {
        position: relative;
        display: inline-block;
        width: calc(100% - 120px);
        vertical-align: text-top;
        height: 100%;
    }

    .product-text {
        font-size: 12px;
        line-height: 14px;
        margin: 4px 5px 18px 2px;

        @media (min-width: $mobile-breakpoint) {
            width: calc(100% - 150px);
            margin-top: 7px;
        }
    }

    .price-wrapper {
        @media (min-width: $mobile-breakpoint) {
            position: absolute;
            top: 50%;
        }
    }

    .product-old-price {
        margin-top: -7px;
        text-decoration-line: line-through;
        color: $side-color-light;
        font-size: 14px;
        text-decoration-line: line-through;
    }

    .product-price {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: $featured-color;
        margin-left: 2px;
        letter-spacing: -0.04em;
    }

    .button-wrapper {
        width: calc(100% - 7px);
        position: absolute;
        bottom: 7px;
        left: 2px;
        border-radius: 4px;

        @media (min-width: $mobile-breakpoint) {
            width: 130px;
            height: 130px;
            background: $featured-color;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: inherit;
            right: 10px;
            top: 7px;
        }
    }
}
