@import './utils/colors.scss';
$mobile-breakpoint: 650px;

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f8f8f8;
    font-size: 14px;
    color: $main-color;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px !important;
    text-transform: uppercase;
    margin: 8px 0;
    font-weight: bold;
    letter-spacing: -0.01em;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.035em;
    line-height: 24px;
    margin: 7px 23px 0 20px;

    @media (min-width: $mobile-breakpoint) {
        margin: 7px 30px 0;
    }
}

h4 {
    margin: 19px 0 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  position: relative;
  width: 100%;
  max-width: 720px;
  height: 100%;
  left: 50%;
  transform: translate(-50%);

    @media (min-width: $mobile-breakpoint) {

    }
}
